:root {
  --body-background-color: #fff;
  --header-background-color: #ECECEC;
  --dark-background-color: #2F303A;
  --section-light-background-color: #F5F4FA;
  --dark-text-color: #212121;
  --main-text-color: #757575;
  --white-text-color: #fff;
  --highlited-text-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;


  width: 100%;
  
  background-color: var(--body-background-color);
  color: var(--main-text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.section-title,
.specialty-title,
.team-title {
  color: var(--dark-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  border-bottom: 1px solid var(--header-background-color);
  background-color: var(--white-text-color);
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;

  padding-top: 24px;
  padding-bottom: 25px;

}
.link.logo {
    font-weight: 700;
}

.logo:hover,
.logo:focus {
  color: var(--highlited-text-color);
}

.logo-color {
  color: var(--highlited-text-color);
}

.nav-cont {
  display: flex;
}

.nav-address {
  margin-left: auto;
}

.nav-address-link {
  font-weight: 500;
  text-decoration: none;
  color: var(--main-text-color);
}

.nav-address-link:hover,
.nav-address-link:focus{
  color: var(--highlited-text-color);
}

.section-hero {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/section-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--dark-background-color);
}

.page-title {

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  margin: 0 auto;
  margin-bottom: 30px;

  width: 696px;
  color: var(--white-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px ;

}


.feature {
  width: 270px;
}

.section-specialty {
  padding-top: 0;
}

.specialty-title {
  font-weight: 700;
  line-height: 1.17;
}

.ul-specialty {
  display: flex;
}

.specialty-description {
  line-height: 1.71;
}

.section.section-what {
  padding-top: 0;
}

.what-box {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  
  

}

.image-description {
  position: absolute;
  bottom: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  


  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-text-color);
  background: #2F303ACC;
  width: 370px;
  height: 70px;
}

.section-team {
  background-color: var(--section-light-background-color);
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
              0px 1px 1px rgba(0, 0, 0, 0.14), 
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}
.team-text {
  padding: 30px 0;
  background-color: var(--body-background-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;

  margin-bottom: 10px;
}

.team-description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}


.nav-list {
  margin-left: 93px;
  color: var(--dark-text-color);
  
}

.page-footer {
  background-color: var(--dark-background-color);
  padding: 60px 0;
}

.page-footer,
.link.footer-logo {
  color: var(--white-text-color);
}



.address-footer {
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
}

.address-margin {
  display: inline-block;
  margin-bottom: 9px;
}

.company-address {
  font-weight: normal;
  opacity: .6;
  text-decoration: none;
  line-height: 1.14;

  color: var(--white-text-color);
}


.nav-link {
  padding: 32px 0;
}

.link {
  font-weight: 500;
  text-decoration: none;

  color: var(--dark-text-color);
}

.link:hover,
.link:focus {
  color:  var(--highlited-text-color);
}

.link.active {
  color: var(--highlited-text-color);
}
.btn {
  cursor: pointer;
}

.btn-main {
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;


  text-align: center;
  letter-spacing: 0.06em;

  background: #2196F3;
  color: var(--white-text-color);
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  padding: 10px 32px;
  margin: auto;
}

.btn-filter {
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  padding: 6px 22px;
  color: var(--dark-text-color);
}

.btn-filter:hover,
.btn-filter:focus {
  background: var(--highlited-text-color);
  color: var(--white-text-color);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section {
  padding: 94px 0;
}

.portfolio-ul {
  margin-bottom: 50px;
}

.portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.portfolio-item a{
  text-decoration: none;
}

.portfolio-item:hover,
.portfolio-item:focus{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.portfolio-card{
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.portfolio-project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;

  color: var(--dark-text-color);
}

.portfolio-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;


  color: var(--main-text-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-gap-header {
  column-gap: 50px;
}

.col-gap-main {
  column-gap: 30px;
}

.col-gap-portfolio {
  column-gap: 8px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


/* ICONS */
.envelope, .smartphone {
  fill: currentColor;
  margin-right: 10px;
  padding: 0;
}

.envelope {
  width: 20px;
  height: 16px;
}

.smartphone {
  width: 16px;
  height: 20px;
}

.smartphone:hover,
.envelope:hover,
.smartphone:focus,
.envelope:focus {
  fill: background: rgba(33, 150, 243, 1);
  cursor: pointer;
}

.feature-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
}

.feature-icon {
  width: 70px;
  height: 70px;
}



.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.team-icons {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: #AFB1B8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  
}

.social-icon {
  width: 20px;
  height: 20px;
}

.team-icons:hover,
.team-icons:focus{
  background-color: #2196F3;
  fill: #fff;
  cursor: pointer;
}
.client-links {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 30px;
}
.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  width: 170px;
  height: 92px;
  box-shadow:0px 0px 0px 1px #AFB1B8 inset;
  border-radius: 4px;
}

.client-logo:hover,
.client-logo:focus {
  fill: var(--highlited-text-color);
  box-shadow:0px 0px 0px 1px var(--highlited-text-color) inset;

  cursor: pointer;
}

.client-icon {
  width: 106px;
  height: 60px;
}

.footer-flex {
  display: flex;
  column-gap: 70px;
  align-items: baseline;
}

.footer-social {
  display: flex;
  gap: 10px;
}



.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer-icons:hover,
.footer-icons:focus {
  background-color: var(--highlited-text-color);
}

.social-title {
  font-weight: bold;
  margin-bottom: 20px;
}